*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Gradle files
build/
gradle/

# IDE specific files
.idea/
/.idea
.idea/misc.xml

# Local configuration files
local.properties
build.gradle.kts
gradle.properties
gradlew
gradlew.bat
/app/src/androidTest/
/app/src/test/
